# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=SUA_CHAVE_DE_APP_AQUI
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie

# Database
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=user
DB_PASSWORD=password
DB_DATABASE=betalent

# Gateways (URLs internas para o docker-compose mock)
GATEWAY1_URL=http://mock-gateways:3001
GATEWAY2_URL=http://mock-gateways:3002

# Gateway 1 login
GATEWAY1_EMAIL=dev@betalent.tech
GATEWAY1_AUTH_TOKEN=TOKEN_GATEWAY_1_AQUI

# Gateway 2 auth
GATEWAY2_TOKEN=TOKEN_GATEWAY_2_AQUI
GATEWAY2_SECRET=SECRET_GATEWAY_2_AQUI